// Primary colors
$primary: #EB5440;

// Secondary colors
$secondary: #4A4B4C;

// Tertiary colors
$tertiary1: #E8E8E8;
$tertiary2: #C3C3C3;

// Background colors
$background1: #F6F6F6;
$background2: #FFFFFF;

// Text colors
$text-primary: #000000;
$text-secondary: #4A4B4C;
$text-hyperlink: #067BC2;
